@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  transition: .2s;
  box-sizing: border-box;
}

body {
  background: #171923;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background-color: #444;
  border: 2px solid #1a1a1a;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

nav {
  background: #171923;
  backdrop-filter: blur(2px);
}

#html-css {
  transform: rotate(30deg);
  animation: html 6s linear infinite;
}

#future {
  overflow: hidden;
  background: url(./Images/space.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#motivation {
  background: url(./Images/blue-space.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  border-radius: 15px;
}

#motivation-blur {
  backdrop-filter: blur(10px);
  border-radius: 15px;
}

.custom-swiper-pagination .swiper-pagination-bullet {
  background-color: #09f;
}

.custom-swiper-pagination .swiper-pagination-bullet-active {
  background-color: #2970ff;
}

/* Keyframes */

@keyframes html {
  0% {
    transform: translateY(-10%);
  }

  50% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(-10%);
  }
}